# .gitignore para ByteMenu (Python/Bottle)

#segurança
.env


#banco de dados
database.sqlite3


#pastas de ambiente virtual python
venv/
env/
.venv/


#cache de bytecode
__pycache__/
*.pyc

#logas
*.log