# .gitignore para ByteMenu (Python/Bottle)

# O .env contém o valor REAL da sua chave secreta e NUNCA deve ser commitado.
.env


# Arquivo do banco de dados SQLite com dados de usuário.
database.sqlite3


# Pastas de ambiente virtual Python.
venv/
env/
.venv/


# Cache de bytecode
__pycache__/
*.pyc

# 5. Logs (Se houver)
*.log