<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Restaurante</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="login-box">
        <div class="logo">RISTORANTE BYTE</div>
        <h1 class="login-title">Bem-vindo de volta!</h1>
        
        <form action="/reserva" method="GET">
            <div class="form-group">
                <label>E-mail</label>
                <input type="text" placeholder="Digite seu e-mail cadastrado" required>
            </div>
            
            <div class="form-group">
                <label>Senha</label>
                <input type="password" placeholder="Digite sua senha" required>
            </div>
            
            <button type="submit" class="btn-login">Fazer sua Reserva</button>
            
            <div class="links">
                <a href="#">Esqueci a senha</a>
                <a href="cadastro">Criar conta</a>
            </div>
        </form>
    </div>
</body>
</html>